* {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
}

h2 {
    color: green;
}

p {
    color: blue;
}

#bukayo {
    height: 200px;
}



.odd {
    text-align: right;
}

#melissa {
    color: bisque;
}

.even {
    text-align: left;
    color: blue;
}

#patience {
    color: green;
    font-style: italic;
}

h2.even {
    color: red;
}

a {
    color: hotpink;
}
