.alert-success {
    background-color: black;
    color: white;
}

#middle-section {
    color: aqua;
}

#form-card {
    margin: 20px;
}

.col, .col-1, .col-2 {
    border: 3px solid red;
}

.row {
    border: 3px dotted black;
    border-color: blue;
}
